@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');



 
 
 body {
    margin: 0px;
    padding: 10px;
}

.nav-items {
    list-style: none;
    display: flex;
  
    
}

.nav{
display: flex;
justify-content: space-between;
align-items: center;

}

.nav-items > li {
    padding: 10px;
   
}

.image{
    width: 60px;
}

.main-content h1{
    font-family: 'Roboto', sans-serif;
}

.list-content > li{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.footer{
    background-color: darkgray;
    padding: 10px;
}